body {
    background-color:rgb(234, 178, 160);
    margin-inline: 99px;
    color:rgb(7, 15, 43);
}

h1 {
    font-family: "Pacifico", cursive;
    color: rgb(7, 15, 43);
    font-size: 50px;
}

.row {
    border-top: dotted rgb(7, 15, 43) 2px;
    border-bottom: dotted rgb(7, 15, 43) 2px;
}

.bookmark-head h2 {
    font-family: "Righteous", cursive;
    font-size: 25px;
    line-height: 30px;
    background-image: linear-gradient(to right,rgb(7, 15, 43),rgb(167, 111, 111));
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.bookmark-head i {
    font-weight: 900;
    font-size: 30px;
}

.bookmark-head i:first-child {
    background-image: linear-gradient(rgb(7, 15, 43), rgb(83, 92, 145));
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.bookmark-head i:last-child {
    background-image: linear-gradient(rgb(7, 15, 43), rgb(83, 92, 145));
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.form-control:focus {
    border-color: rgb(234, 178, 160);
    outline: 0px;
    box-shadow: rgba(167, 111, 111,0.33) 0px 0px 0px 0.25rem;
}

.btn-submit {
    color: #fff;
    background-color: rgb(7, 15, 43);
    border-color: rgb(7, 15, 43);
}

.btn-submit:hover {
    background-color: rgb(45, 67, 86);
    border-color: rgb(45, 67, 86);
    color: #fff;
}

table {
    font-family: "PT Sans Caption", sans-serif;
}

.btn-visit {
    color: #fff;
    background-color: rgb(45, 67, 86);
    border-color: rgb(45, 67, 86);  
}

.btn-visit:hover {
    color: #fff;
    background-color: rgb(67, 91, 102);
    border-color: rgb(67, 91, 102);
}

.btn-delete {
    color: #fff;
    background-color: rgb(190, 49, 68);
    border-color:rgb(190, 49, 68);
}

.btn-delete:hover {
    color: #fff;
    background-color: #D84040;
    border-color: #D84040;
}
